<div class="background-3">
  <h2>We are here to help you!</h2>
</div>
<div class="background-4">
  <ol>
    <li>First Sign-up to our site</li>
    <li>Then confirm your mail account</li>
    <li>After that login to our site</li>
    <li>Now you are ready to explore</li>
    <li>Find different friends and start chatting</li>
  </ol>
</div>
