<% if user_signed_in? %>
  <div class="background">
    <h4>Go to Home tab for view users to chat</h4>
  </div>
<% else %>
  <div class='background'>
    <div>
      <div class='text'>
        <%= link_to 'Register Now!', new_user_registration_path, class:
          'btn btn-lg btn-primary' %>
      </div>
      <div class="text">
        <h2>
          Already have an account ?<%= link_to 'Log in', new_user_session_path,
            class:'btn btn-lg btn-primary' %>
        </h2>
      </div>
    </div>
  </div>
<% end %>
