@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

.error-show{
  margin-top: 50px;
}

.navbar-top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header{
  background-color: grey;
  display: flex;
  flex-direction: row;
}

li{
  list-style: none;
  font-size: 2.5rem;
  padding: 10px;
}

.color{
  color: #3533b7;
}

.container{
  height: fit-content;
  width: 100%;
  border-radius: 10%, black;
}

.background{
  display: flex;
  flex-dirrection: row;
  justify-content: flex-start;
}

.tabs{
  width: 20%;
  overflow-y: scroll;
  padding: 30px;
  height: 400px;
}

.tab-size{
  font-size: 20px;
  border: none;
  padding-bottom: 20px;
}

.form_fields{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form{
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.form_data{
  padding-left: 60px;
}

.info{
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  overflow-y: scroll;
}

.button_style{
  margin-left: 80px;
  border-radius: 9px;
}

table {
  font-family: arial, sans-serif;
  width: 90%;
}

td, th {
  text-align: left;
  padding: 8px;
}
